.toggle {
  margin-right: 1.5rem;
  cursor: pointer;
}
.toggle span {
  display: block;
  background-color: white;
  width: 26px;
  height: 2px;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.toggle span:not(:last-child) {
  margin-bottom: 5px;
}

.open span:first-child {
  transform: rotate(45deg);
}
.open span:nth-child(2) {
  opacity: 0;
}
.open span:last-child {
  transform: rotate(-45deg);
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: linear-gradient(#333, transparent);
}

.menu {
  position: fixed;
  background-color: #fff;
  padding: 0.625rem;
  height: 100vh;
  left: 0%;
}
.menu a {
  display: flex;
  width: 100%;
  padding: 0.625rem;
  color: "#000";
  text-align: center;
  font-size: 1.1rem;
  transition: all 100ms linear;
}
.menu a:hover {
  background-color: #444;
  color: #fff;
}

.got-fade {
  visibility: hidden;
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
